  @import url(../Build/Cesium/Widgets/widgets.css);
  html, body, #cesiumContainer {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  #chart {
    display:block;
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(255, 255, 255, 0.8);
  }
  body {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  .forceVisible {
    z-index: 60;
    position: absolute;
    top: 7px;
    right: 200px;
    display: block;
  }
  #zoom {
    background: #303336;
    border: none;
  }
